{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AI Fraud Detection & Expense Analyzer</title>
  <link rel="stylesheet" href="{% static 'frontend/css/home.css' %}">
</head>
<body>
  <div class="container">
    <h1>AI-Powered Financial Fraud Detection & Expense Analyzer</h1>
    <p>Ensuring Secure, Smart & AI-Driven Expense Management!</p>
    <div class="btn-group">
      <a href="/register/"><button>Register</button></a>
      <a href="/login/"><button>Login</button></a>
    </div>
  </div>
  <script src="{% static 'frontend/js/home.js' %}"></script>
</body>
</html>
